{% load humanize %}

<html>
    <head>
        <title>My first django page</title>    
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <p> Hello {{ request.user.username|title }}, you last logged in at {{ request.user.last_login|date:"D d M Y" }}</p>
        {% else %}
            <p>Welcome quest!</p>
        {% endif %}
        
        <main>
            <h1> {{books.count|apnumber|capfirst}} book{{books.count|pluralize}} </h1>
            <ul>
            {% for book in books %}
                <li><h2>{{book.title}} by {{book.list_authors}}</h2></li> 
                <span class="highlight">{{book.review}}</span>
            {% endfor %}
            </ul>
        </load>
        
    </body>
</html>